.Cart {
  padding: 80px;
}

.Cart .bigTitle {
  font-size: 23px;
  font-weight: bold;
}

.Cart .smallTitle {
  font-size: 16px;
  text-align: center;
}

.Cart img{
  width: 50px;
  height: 50px;
}

.Cart .list {
  text-align: center;
  
}

.Cart .price {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 20px 0;
}

.Cart span {
  color: red;
  margin-left: 20px;
}

.Cart  .price :nth-child(2) {
  margin-right:10px;
}

.Cart button {
  float: right;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid white;
  background-color: rgb(243, 70, 98);
  color: white;
}
