.SignUp {
  margin: 50px auto;
  padding: 30px;
}

.SignUp .bigtitle {
  font-weight: bold;
  font-size: 25px;
}

.SignUp .smalltitle {
  font-size: 18px;
  margin-top: 80px;
}

.SignUp .coment {
  font-size: 12px;
  float: right;
}

.SignUp hr {
  clear: both;
}

.clause > :nth-child(2) {
  margin-top: 30px;
}

.SignUp .chkbox {
  width: 20px;
  margin-right: 10px ;
  margin-left: 30px;
}

.SignUp label {
  position: relative;
  top: -3.5px;
}

.SignUp .box {
  width: 1000px;
  margin-left: 35px;
}

.SignUp input {
  width: 300px;
  height: 30px;
  padding-left: 5px;
}


.SignUp tr > :first-child {
  background-color: rgb(240, 237, 237);
  width: 200px;
  padding: 15px 0 15px 20px;
}

.SignUp tr > :nth-child(2) {
  padding: 10px;
}

.SignUp td button {
  margin-left: 5px;
  width: 120px;
  border: 1px solid lightgray;
  color: rgb(80, 80, 80);
  font-size: 15px;
}

.SignUp .btn {
  margin-top: 50px;
  margin-left: 30%;
}

.SignUp .btn > :nth-child(1) {
  width: 200px;
  height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  color: black;
}

.SignUp .btn > :nth-child(2) {
  width: 200px;
  height: 40px;
  margin-left: 5px;
  border: 1px solid lightgray;
  background-color: gray;
  color: white;
}

.SignUp span {
  color: red;
}




